.contact-section {
    width: 100vw;
    min-height: 60vh;
    color: $primary-color;
    text-align: center;

    &__left,
    &__right {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: 3rem;
        letter-spacing: 5px;
        margin: 1rem 0;
    }

    &__address {
        font-size: 1.2rem;
        margin: 1rem 0;
        letter-spacing: 2px;
        font-weight: bold;
    }

    &__link {
        font-size: 1.05rem;
        text-decoration: none;
        color: $primary-color;
        margin: 0.2rem;
    }
}
