.footer {
    background-color: $primary-color;
    width: 100vw;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &__title {
        color: $secondary-color;
        font-size: 1.5rem;
        letter-spacing: 5px;
        font-weight: 50;
    }

    &__form {
        width: 30%;
        display: flex;
        margin: 1rem auto;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &__input {
        width: 100%;
        margin: 1rem;
        input[type="email"] {
            width: 100%;
            border: none;
            font-size: 1rem;
            color: $secondary-color;
            background-color: $primary-color;
            border-bottom: 1px solid $secondary-color;
        }
        input[type="button"] {
            border: none;
            width: 100%;
            cursor: pointer;
            font-size: 1.2rem;
            transition: 500ms;
            text-align: center;
            padding: 0.5rem 1rem;
            color: $primary-color;
            background-color: $secondary-color;

            &:hover {
                transform: scale(0.98);
            }
        }
    }
}

.copyright {
    font-size: 1rem;
    color: $secondary-color;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center;
}

@media (max-width: 900px) {
    .footer {
        &__form {
            width: 80%;
        }
    }
}
