%btn {
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: center;
    transition: 500ms;
    text-decoration: none;

    &:hover {
        transform: scale(0.92);
    }
}

.btn__primary {
    @extend %btn;
    background-color: $primary-color;
    color: $secondary-color;
}

.btn__primary--full-width {
    @extend %btn;
    background-color: $primary-color;
    color: $secondary-color;
    width: 90%;
}

.btn__secondary {
    @extend %btn;
    background-color: $third-color;
    color: $primary-color;
}

.btn__secondary--large {
    @extend %btn;
    font-size: 1.5rem;
    background-color: $third-color;
    color: $primary-color;
}

@media (max-width: 900px) {
    .btn__primary--full-width {
        width: 80%;
    }
    .btn__secondary--large {
        font-size: 1.3rem;
    }
}
